body {
    background-color: #121212;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}
h1 {
    margin-top: 20px;
}
.video-js {
    border: 2px solid white;
    border-radius: 10px;
}
